<div>
	<span>filter:</span>
	<select ng-model="category">
		<option ng-repeat="category in categories" selected="selected" ng-value="category">{{category}}</option>
	</select>
</div>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="note in notes | filter:{category:category, isDeleted:false}">
		<div ng-class="note.categoryClass()">
			<div class="list-group-item panel-heading">
				<span class="badge">{{ note.category }} <button ng:click="delete(note)" >X</button></span>
				<h4>{{ note.name }}</h4>
			</div>
		  	<div class="panel-body">
					<div class="row">
						<div class="col-md-4">Created {{ note.friendlyCreatedDate() }}</div>
						<div class="col-md-4 col-md-offset-1">Modified {{ note.friendlyModifiedDate() }}</div>
					</div>

					<div class="row">
						<div class="col-md-8">{{ note.comment }}</div>
					</div>
		  	</div>
		</div>
	</li>
</ul>
