<div class="panel panel-primary">
  <div class="list-group-item panel-heading">
    <h4>Create New Note</h4>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="inputName">Note Name</label>
        <input type="text" ng-model="note.name" class="form-control" id="inputName" placeholder="Enter name">
      </div>

      <div class="form-group">
        <label for="inputName">Note Category</label>
        <select class="form-control" ng-model="note.category">
          <option value="home">home</option>
          <option value="work">work</option>
          <option value="random">random</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputName">Note Comment</label>

          <textarea  ng-model="note.comment" class="form-control" id="inputComment" placeholder="Enter comment">
          </textarea>

      </div>

      <button ng:click="createNote()" >Create</button>
    </form>
  </div>
</div>
